@import "colors";

.btn:focus, input:focus, .chat-input:focus {
	outline: none;
}

html, body, #root {
	height: 100%;
}

.chat-box {
	width: 20rem;
	height: 30rem;
	right: 0;
	bottom: 0;
}

.chat-messages {
	overflow-y: scroll;
}

.chat-input-wrapper {
	min-height: 2.5rem;
}

.chat-input {
	font-style: italic;
}

.register-form {
	width: 32rem;
}

.mw-75 {
	max-width: 75%;
}
