<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RPS</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
<header>
    qqq
</header>
<div class="site-wrapper">
    <h1>Rock–paper–scissors</h1>
    <div class="delimeter"></div>
    <div class="container game-icons">
        <img src="./../images/rock.png" class="game-icon" alt="">
        <img src="./../images/paper.png" alt="">
        <img src="./../images/scissors.png" alt="">
        <img src="./../images/lizard.png" alt="">
        <img src="./../images/spock.png" alt="">
    </div>
    <h2>Your ID <span class="text-id" onclick="alert(11);">4Rg3f</span></h2>
    <div class="test-box"></div>
    <div class="test-box"></div>
    <div class="chat-box">
        <div class="chat-messages">
            <div class="message-out"><span>hfdd fdsfsdfds fds fds f f ds fds f ds dddddddddddddddddd d fdsf dsf ds f dsfdsfds fdsi</span></div>
            <div class="message-in"><span>hi</span></div>
            <div class="message-in"><span>hi</span></div>
            <div class="message-out"><span>hi</span></div>
        </div>
        <div class="chat-input">
            <input placeholder="Сообщение">
            <button type="button">Отправить</button>
        </div>
    </div>
</div>
<footer>
    www
</footer>
</body>
</html>
