/*$main-color: #589595;
$secondary-color: #1e5460;
$border-color:
*/

html, body {
	font-family: 'Exo 2', sans-serif;
}

header:after, footer:before, .chat-messages:after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

header:after, footer:before, .chat-messages:after {
	background-color: #b7b7b7;
}

header, footer {
	padding: 1px;
}

.site-wrapper {
	position: relative;
}

.chat-box {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 5px;
	padding: 15px;
	border: #b7b7b7 solid 1px;
	border-radius: 10px;
	width: 300px;
}

.chat-messages {
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.message-out, .message-in {
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	max-width: 75%;
	min-width: 10%;
	font-size: 12pt;
	word-break: break-all;
}

.message-out {
	background-color: #589595;
	align-self: flex-end;
	text-align: right;
}

.message-in {
	background-color: #1e5460;
}

.chat-input {
	display: flex;
}

.chat-input input {
	flex: 1;
	border: none;
	outline: none;
	margin-top: 10px;
	text-indent: 0;
	font-family: 'Exo 2', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	transition: all 0.2s ease-in-out;
}

.test-box {
	background-color: #589595;
}

.test-box {
	width: 500px;
	height: 500px;
	margin: 20px;
}

.container, .center, .game-icon-container {
	display: flex;
}

.center, .game-icon-container {
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.game-icon-container {
	flex-flow: column;
}

.game-icons {
	padding-top: 20px;
	width: 600px;
	justify-content: space-between;
	align-items: center;
}

.game-icon-caption {
	padding: 15px 0;
	text-align: center;
	font-size: 15pt;
	text-transform: uppercase;
	opacity: 0;
}

.game-icons img {
	width: 100px;
	height: 100px;
}

.game-icons img:hover {
	transform: scale3d(1.2, 1.2, 1);
	filter: brightness(1.25);
}

h1 {
	font-size: 30pt;
	letter-spacing: 12pt;
	text-align: center;
	color: #589595;
}

.text-id {
	font-size: 10pt;
	color: #1e5460;
	user-select: none;
}

.delimeter {
	width: 100%;
	height: 1px;
	background-color: #b7b7b7;
}
